/* main css */
body {background-color: #000;}

.hide{visibility:hidden;}
.leftwhite{
position:fixed;
top:0;
left:0;
height:100%;
background:#000;
width:120px;
z-index:100;
}
.rightwhite{
position:fixed;
top:0;
left:700px;
height:100%;
background:#000;
width:100%;
z-index:200;
}
.log{
width:80%;
left:0;
top:0;
margin-left:15px;
background:#000;
}
.log div.byousha{
position:relative;
color:rgb(136, 136, 136);
word-break:break-word;
overflow-wrap:break-word;
margin-left:120px;
margin-top:60px;
margin-bottom:0px;
z-index:200;
}
.left{
margin-left:120px;
margin-top:15px;
}
.left:before{
content:'';
position:absolute;
left:0;
margin-left:25px;
margin-top:10px;
width:90px;
height:90px;
z-index:600;
background:#000;
}
.left p{
position:relative;
width:500px;
background:#000;
padding:10px;
text-align:left;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border:2px solid #ccc;
box-shadow:5px 5px 0 #ccc;
line-height:1em;
word-break:break-word;
overflow-wrap:break-word;
z-index:0;
}
.left p:after{
border:solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
border-color:#000;
border-top-width:10px;
border-bottom-width:10px;
border-left-width:27px;
border-right-width:27px;
margin-top: -10px;
border-right-color:#ccc;
right:100%;
top:20px;
}
.right{
left:0;
margin-top:15px;
margin-left:120px;
}
.right:before{
content:'';
position:absolute;
left:710px;
margin-top:10px;
width:90px;
height:90px;
z-index:600;
background:#000;
}
.right p{
position:relative;
width:500px;
background:#000;
padding:10px;
text-align:left;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border:2px solid #ccc;
box-shadow:5px 5px 0 #ccc;
line-height:1em;
word-break:break-word;
overflow-wrap:break-word;
z-index:100;
}
.right p:after{
border:solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
border-color: #000;
border-top-width:10px;
border-bottom-width:10px;
border-left-width:27px;
border-right-width:27px;
margin-top: -10px;
border-left-color:#ccc;
left:525px;
top:20px;
}
.left span,.right span{
display:block;
position:relative;
width:200px;
background:#ccc;
margin-bottom:-20px;
margin-left:10px;
padding-left:8px;
border-radius:5px;
font-size:110%;
}

.fixed{display: none;}
#top{display: none;}

/* member */
  /* 発言者：KP */
.kp p{border:2px solid rgb(136, 136, 136);box-shadow:5px 5px 0 rgb(136, 136, 136);color:#fff;}
.kp p:after{border-right-color:rgb(136, 136, 136);}
.kp span{background:rgb(136, 136, 136);color:#000;}
.icon_kp:before{content:'';background-image:url("./icon/KP.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  /* 発言者：夜月 真夜 */
.p1 p{border:2px solid rgb(233,30,99);box-shadow:5px 5px 0 rgb(233,30,99);color:#fff;}
.p1 p:after{border-right-color:rgb(233,30,99);}
.p1 span{background:rgb(233,30,99);color:#000;}
.icon_p1_talk:before{content:'';background-image:url("./icon/maya_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_notalk:before{content:'';background-image:url("./icon/maya_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_ase:before{content:'';background-image:url("./icon/maya_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_nohand_notalk:before{content:'';background-image:url("./icon/maya_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_nohand_talk:before{content:'';background-image:url("./icon/maya_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_nohand_metoji:before{content:'';background-image:url("./icon/maya_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_dark:before{content:'';background-image:url("./icon/mayaY_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_zekkyou:before{content:'';background-image:url("./icon/mayaY_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_zekkyou_metoji:before{content:'';background-image:url("./icon/mayaY_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p1_zekkyou_naku:before{content:'';background-image:url("./icon/maya_iconY_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
/* 発言者：淵上 星嵐 */
.p2 p{border:2px solid rgb(179, 48, 255);box-shadow:5px 5px 0 rgb(179, 48, 255);color:#fff;}
.p2 p:after{border-right-color:rgb(179, 48, 255);}
.p2 span{background:rgb(179, 48, 255);color:#000;}
.icon_p2_notalk:before{content:'';background-image:url("./icon/seiran_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p2_smile:before{content:'';background-image:url("./icon/seiran_icon_2.png");background-size:contain;backrightground-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p2_oko:before{content:'';background-image:url("./icon/seiran_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p2_metoji:before{content:'';background-image:url("./icon/seiran_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p2_suneru:before{content:'';background-image:url("./icon/seiran_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
/* 発言者：彼方☆キャミィ */
.p3 p{border:2px solid rgb(18, 255, 58);box-shadow:5px 5px 0 rgb(18, 255, 58);color:#fff;}
.p3 p:after{border-right-color:rgb(18, 255, 58);}
.p3 span{background:rgb(18, 255, 58);color:#000;}
.icon_p3_talk:before{content:'';background-image:url("./icon/kyami_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_ase:before{content:'';background-image:url("./icon/kyami_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_notalk:before{content:'';background-image:url("./icon/kyami_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_oko:before{content:'';background-image:url("./icon/kyami_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_shirakiru:before{content:'';background-image:url("./icon/kyami_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_shock:before{content:'';background-image:url("./icon/kyami_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_sleep:before{content:'';background-image:url("./icon/kyami_icon_7.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p3_metoji:before{content:'';background-image:url("./icon/kyami_icon_8.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  /* 発言者：獅堂 エリス */
.p4 p{border:2px solid rgb(255, 235, 59);box-shadow:5px 5px 0 rgb(255, 235, 59);color:#fff;}
.p4 p:after{border-right-color:rgb(255, 235, 59);}
.p4 span{background:rgb(255, 235, 59);color:#000;}
.icon_p4_talk:before{content:'';background-image:url("./icon/erisu_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p4_peace:before{content:'';background-image:url("./icon/erisu_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p4_majime:before{content:'';background-image:url("./icon/erisu_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p4_ase:before{content:'';background-image:url("./icon/erisu_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p4_metoji:before{content:'';background-image:url("./icon/erisu_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
.icon_p4_notalk:before{content:'';background-image:url("./icon/erisu_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}


/* animation */
.LtoR{
animation-name:slideL;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.LtoR-delay{
animation-name:slideL2;
animation-duration:.1s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL2{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(10%);
opacity:1;
}
}
.LtoR-early{
animation-name:slideL3;
animation-duration:0.7s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL3{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.RtoL{
animation-name:slideR;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideR{
from{
transform:translateX(100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.RtoL-delay{
animation-name:slideR2;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideR2{
from{
transform:translateX(100%);
opacity:0;
}
to{
transform:translateX(10%);
opacity:1;
}
}

/* priority */
.log div{margin-top:2.5em;margin-bottom:2.5em;}

@media only screen and (orientation: portrait){
.log{
width:95vw !important;
}
.byousha{
width:100% !important;
}
}


@media only screen and (max-device-width: 768px) {

.rightwhite{display: none;}

*{font-family:sans-serif;}
.leftwhite{
width:80px;
}
.log{
width:100% !important;
}
.log div.byousha{
position:relative;
word-break:break-word;
overflow-wrap:break-word;
margin-left:5px;
margin-top:20px;
margin-bottom:10px;
width:90% !important;
font-size:90%;
}
.left,.right{
margin-left:80px;
}
.left:before,.right:before{
margin-left:10px;
width:70px;
height:70px;
}
.left p,.right p{
font-size:90%;
width:220px;
}
.left p:after,.right p:after{
border-top-width:8px;
border-bottom-width:8px;
border-left-width:20px;
border-right-width:20px;
}
.left span,.right span{
width:150px;
height:1.5em;
font-size:90%;
}
a:link,a:visited,a:hover{text-decoration:none;color:rgb(136, 136, 136);;}
.fixed{display:block;position:fixed;top:0;left:0;margin-left:0 !important;width:100%;background:#fff;height:30px;color:rgb(136, 136, 136);;z-index:999;padding-top:0.8em;padding-left:1em;font-weight:bold;}
#top{display:block;margin-top:-100px;padding-top:100px;}

/* member */
/* 発言者：KP */
.icon_kp:before{width:70px;height:70px;}
/* 発言者：夜月 真夜 */
.icon_p1_talk:before{width:70px;height:70px;}
.icon_p1_notalk:before{width:70px;height:70px;}
.icon_p1_ase:before{width:70px;height:70px;}
.icon_p1_nohand_notalk:before{width:70px;height:70px;}
.icon_p1_nohand_talk:before{width:70px;height:70px;}
.icon_p1_nohand_metoji:before{width:70px;height:70px;}
.icon_p1_dark:before{width:70px;height:70px;}
.icon_p1_zekkyou:before{width:70px;height:70px;}
.icon_p1_zekkyou_metoji:before{width:70px;height:70px;}
.icon_p1_zekkyou_naku:before{width:70px;height:70px;}
/* 発言者：淵上 星嵐 */
.icon_p2_notalk:before{width:70px;height:70px;}
.icon_p2_smile:before{width:70px;height:70px;}
.icon_p2_oko:before{width:70px;height:70px;}
.icon_p2_metoji:before{width:70px;height:70px;}
.icon_p2_suneru:before{width:70px;height:70px;}
/* 発言者：彼方☆キャミィ */
.icon_p3_talk:before{width:70px;height:70px;}
.icon_p3_ase:before{width:70px;height:70px;}
.icon_p3_notalk:before{width:70px;height:70px;}
.icon_p3_oko:before{width:70px;height:70px;}
.icon_p3_shirakiru:before{width:70px;height:70px;}
.icon_p3_shock:before{width:70px;height:70px;}
.icon_p3_sleep:before{width:70px;height:70px;}
.icon_p3_metoji:before{width:70px;height:70px;}
  /* 発言者：獅堂 エリス */
.icon_p4_talk:before{width:70px;height:70px;}
.icon_p4_peace:before{width:70px;height:70px;}
.icon_p4_majime:before{width:70px;height:70px;}
.icon_p4_ase:before{width:70px;height:70px;}
.icon_p4_metoji:before{width:70px;height:70px;}
.icon_p4_notalk:before{width:70px;height:70px;}    

.log{margin-top:60px;}  
}
