/* main css */
body {
  background-color: #000;
  height: 100%;
  margin: 0 auto;
}
.hide{visibility:hidden;}

/* ページトップボタン */
a.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border: solid 2px #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition-duration: 0.2s;
}
a.pagetop:hover {
  background: rgb(57, 228, 202);
  color: #fff;
}
i.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: translateY(20%) rotate(-45deg);
}

/* 音楽ボタン */
a.btn{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 0.2;
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
a.btn--red {
  color: #fff;
  background-color: rgb(233,30,99);
  border-bottom: 5px solid rgb(161, 22, 69);
}
a.btn--red:hover {
  margin-top: 3px;
  color: #fff;
  background: rgb(246, 30, 102);
  border-bottom: 2px solid rgb(161, 22, 69);
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/* 背景固定 */
.wrap-bg-sp {
  position: relative;
  padding: 5em 0.5em;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg .inner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
    position: sticky;
    top: 0;
}

/* 背景画像 */
.inner.cd-bg-0  {background: url('./img/背景/楽屋.jpg')no-repeat center;}
.inner.cd-bg-1  {background: url('./img/背景/ライブステージ.jpg')no-repeat center;}
.inner.cd-bg-2  {background: url('./img/背景/事務所.jpg')no-repeat center;}
.inner.cd-bg-3  {background: url('./img/背景/アイドル寮.jpg')no-repeat center;}
.inner.cd-bg-4  {background: url('./img/背景/街中.jpg')no-repeat center;}
.inner.cd-bg-5  {background: url('./img/背景/放送局.jpg')no-repeat center;}
.inner.cd-bg-6  {background: url('./img/背景/音楽スタジオ.jpg')no-repeat center;}
.inner.cd-bg-7  {background: url('./img/背景/ステージ本番.jpg')no-repeat center;}


@media only screen and (min-width: 768px) {

/* pc不要部分非表示 */
/* .fixed{display: none;}
#top{display: none;} */

/* ページ遷移ボタン */
div.page_box{
  display: flex;
  gap: 12px;
  position: relative;
  margin-bottom: 12px;
  margin-left: 250px;
  z-index: 999;
}
a.page_btn_width{
  max-width: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
a.page_btn_width:hover {
  background: rgb(57, 228, 202);
  color: #fff;
}
a.page_btn_width:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
a.page_btn {
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
a.page_btn:hover {
  background: rgb(57, 228, 202);
  color: #fff;
}
a.page_btn_OFF {
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: rgb(123, 123, 123);
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  pointer-events: none;
}

.leftwhite{
position:fixed;
top:0;
left:0;
height:100%;
background:transparent;
width:120px;
z-index:100;
}
.rightwhite{
position:fixed;
top:0;
left:700px;
height:100%;
background:transparent;
width:100%;
z-index:200;
}
.log{
width:80%;
left:0;
top:0;
margin-left:15px;
background:transparent;
}
.log div.byousha{
position:relative;
color:#fff;
text-shadow: 1px 2px 3px #808080;
word-break:break-word;
overflow-wrap:break-word;
margin-left:120px;
margin-top:60px;
margin-bottom:0px;
z-index:200;
font-weight: bold;
}
.left{
margin-left:120px;
margin-top:15px;
}
.left:before{
content:'';
position:absolute;
left:0;
margin-left:25px;
margin-top:10px;
width:90px;
height:90px;
z-index:600;
background:rgba(123, 123, 123, 0.5);
}
.left p{
position:relative;
width:500px;
background:rgba(123, 123, 123, 0.8);
padding:10px;
text-align:left;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border:2px solid #ccc;
box-shadow:5px 5px 0 #ccc;
line-height:1em;
word-break:break-word;
overflow-wrap:break-word;
z-index:0;
}
.left p:after{
border:solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
border-color:transparent;
border-top-width:10px;
border-bottom-width:10px;
border-left-width:27px;
border-right-width:27px;
margin-top: -10px;
border-right-color:#ccc;
right:100%;
top:20px;
}
.right{
left:0;
margin-top:15px;
margin-left:120px;
}
.right:before{
content:'';
position:absolute;
left:710px;
margin-top:10px;
width:90px;
height:90px;
z-index:600;
background:rgba(123, 123, 123, 0.5);
}
.right p{
position:relative;
width:500px;
background:rgba(123, 123, 123, 0.8);
padding:10px;
text-align:left;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border:2px solid #ccc;
box-shadow:5px 5px 0 #ccc;
line-height:1em;
word-break:break-word;
overflow-wrap:break-word;
z-index:100;
}
.right p:after{
border:solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
border-color: transparent;
border-top-width:10px;
border-bottom-width:10px;
border-left-width:27px;
border-right-width:27px;
margin-top: -10px;
border-left-color:#ccc;
left:525px;
top:20px;
}
.left span,.right span{
display:block;
position:relative;
width:200px;
background:#ccc;
margin-bottom:-20px;
margin-left:10px;
padding-left:8px;
border-radius:5px;
font-size:110%;
}

/* animation */
.LtoR{
animation-name:slideL;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.LtoR-delay{
animation-name:slideL2;
animation-duration:.1s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL2{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(10%);
opacity:1;
}
}
.LtoR-early{
animation-name:slideL3;
animation-duration:0.7s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL3{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.RtoL{
animation-name:slideR;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideR{
from{
transform:translateX(100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.RtoL-delay{
animation-name:slideR2;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideR2{
from{
transform:translateX(100%);
opacity:0;
}
to{
transform:translateX(10%);
opacity:1;
}
}

@media only screen and (orientation: portrait){
.log{
width:95vw !important;
}
.byousha{
width:100% !important;
}
}

}


/* スマホ用 */
@media only screen and (max-width: 768px) {

/* 音楽ボタン */
a.btn{
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 0.1;
  padding: 0.7rem 0.9rem;
}

 *{font-family:sans-serif;}

 /* スマホ不要部分非表示 */
.rightwhite{display: none;}

/* ページ遷移ボタン */
div.page_box{
  display: flex;
  gap: 12px;
  position: relative;
  margin-bottom: 12px;
  margin-left: 100px;
  z-index: 999;
}
a.page_btn_width{
  max-width: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
a.page_btn_width:hover {
  background: rgb(57, 228, 202);
  color: #fff;
}
a.page_btn_width:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
a.page_btn {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
a.page_btn:hover {
  background: rgb(57, 228, 202);
  color: #fff;
}
a.page_btn_OFF {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: rgb(123, 123, 123);
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  pointer-events: none;
}


.leftwhite{
position:fixed;
top:0;
left:0;
height:100%;
background:transparent;
width:80px;
z-index:100;
}
.log{
width:100%;
left:0;
top:0;
margin-left:15px;
background:transparent;
}
.log div.byousha{
position:relative;
color:#fff;
text-shadow: 1px 2px 3px #808080;
word-break:break-word;
overflow-wrap:break-word;
margin-left:5px;
margin-top:20px;
margin-bottom:10px;
width:90%;
z-index:200;
font-size:90%;
font-weight: bold;
}
.left,.right{
margin-left:80px;
margin-top:15px;
}
.left:before,.right:before{
content:'';
position:absolute;
left:0;
margin-left:10px;
margin-top:10px;
width:70px;
height:70px;
z-index:600;
background:rgba(123, 123, 123, 0.5);
}
.left p,.right p{
position:relative;
font-size:90%;
width:220px;
background:rgba(123, 123, 123, 0.8);
padding:10px;
text-align:left;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border:2px solid #ccc;
box-shadow:5px 5px 0 #ccc;
line-height:1em;
word-break:break-word;
overflow-wrap:break-word;
z-index:0;
}
.left p:after,.right p:after{
border:solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
border-top-width:8px;
border-bottom-width:8px;
border-left-width:20px;
border-right-width:20px;
margin-top: -10px;
border-right-color:#ccc;
right:100%;
top:20px;
}
.left span,.right span{
display:block;
position:relative;
width:150px;
height:1.5em;
background:#ccc;
margin-bottom:-18px;
margin-left:10px;
padding-left:8px;
border-radius:5px;
font-size:90%;
}

a.pagetop {
  height: 35px;
  width: 35px;
}
a.pagetop__arrow {
  height: 8px;
  width: 8px;
}
/* .fixed a:link,.fixed a:visited,.fixed a:hover{text-decoration:none;color:rgb(136, 136, 136);}
.fixed{display:block;position:fixed;top:0;left:0;margin-left:0 !important;width:100%;background:#fff;height:30px;color:rgb(136, 136, 136);;z-index:999;padding-top:0.8em;padding-left:1em;font-weight:bold;}
#top{display:block;margin-top:-100px;padding-top:100px;} */

/* animation */
.LtoR{
animation-name:slideL;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}
.LtoR-delay{
animation-name:slideL2;
animation-duration:.1s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL2{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(10%);
opacity:1;
}
}
.LtoR-early{
animation-name:slideL3;
animation-duration:0.7s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes slideL3{
from{
transform:translateX(-100%);
opacity:0;
}
to{
transform:translateX(0);
opacity:1;
}
}

/* priority */
.log{margin-top:60px;}
}


/* member */
  /* 発言者：KP */
  .kp p{border:2px solid #000;box-shadow:5px 5px 0 #000;color:#fff;}
  .kp p:after{border-right-color:#000;border-left-color:transparent;}
  .kpR p:after{border-right-color:transparent;border-left-color:#000;}
  .kp span{background:#000;color:#fff;}
  .icon_kp:before{content:'';background-image:url("./icon/KP.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
    /* 発言者：夜月 真夜 */
  .p1 p{border:2px solid rgb(233,30,99);box-shadow:5px 5px 0 rgb(233,30,99);color:#fff;}
  .p1 p:after{border-right-color:rgb(233,30,99);border-left-color:transparent;}
  .p1R p:after{border-right-color:transparent;border-left-color:rgb(233,30,99);}
  .p1 span{background:rgb(233,30,99);color:#000;}
  .icon_p1_talk:before{content:'';background-image:url("./icon/maya_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_notalk:before{content:'';background-image:url("./icon/maya_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_ase:before{content:'';background-image:url("./icon/maya_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_nohand_notalk:before{content:'';background-image:url("./icon/maya_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_nohand_talk:before{content:'';background-image:url("./icon/maya_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_nohand_metoji:before{content:'';background-image:url("./icon/maya_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_nohand_tere:before{content:'';background-image:url("./icon/maya_icon_7.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_dark:before{content:'';background-image:url("./icon/mayaY_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_zekkyou:before{content:'';background-image:url("./icon/mayaY_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_zekkyou_metoji:before{content:'';background-image:url("./icon/mayaY_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p1_zekkyou_naku:before{content:'';background-image:url("./icon/mayaY_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  /* 発言者：淵上 星嵐 */
  .p2 p{border:2px solid rgb(179, 48, 255);box-shadow:5px 5px 0 rgb(179, 48, 255);color:#fff;}
  .p2 p:after{border-right-color:rgb(179, 48, 255);border-left-color:transparent;}
  .p2R p:after{border-right-color:transparent;border-left-color:rgb(179, 48, 255);}
  .p2 span{background:rgb(179, 48, 255);color:#000;}
  .icon_p2_notalk:before{content:'';background-image:url("./icon/seiran_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p2_smile:before{content:'';background-image:url("./icon/seiran_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p2_oko:before{content:'';background-image:url("./icon/seiran_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p2_metoji:before{content:'';background-image:url("./icon/seiran_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p2_suneru:before{content:'';background-image:url("./icon/seiran_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  /* 発言者：彼方☆キャミィ */
  .p3 p{border:2px solid rgb(18, 255, 58);box-shadow:5px 5px 0 rgb(18, 255, 58);color:#fff;}
  .p3 p:after{border-right-color:rgb(18, 255, 58);border-left-color:transparent;}
  .p3R p:after{border-right-color:transparent;border-left-color:rgb(18, 255, 58);}
  .p3 span{background:rgb(18, 255, 58);color:#000;}
  .icon_p3_talk:before{content:'';background-image:url("./icon/kyami_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_ase:before{content:'';background-image:url("./icon/kyami_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_notalk:before{content:'';background-image:url("./icon/kyami_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_oko:before{content:'';background-image:url("./icon/kyami_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_shirakiru:before{content:'';background-image:url("./icon/kyami_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_shock:before{content:'';background-image:url("./icon/kyami_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_sleep:before{content:'';background-image:url("./icon/kyami_icon_7.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p3_metoji:before{content:'';background-image:url("./icon/kyami_icon_8.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
    /* 発言者：獅堂 エリス */
  .p4 p{border:2px solid rgb(255, 235, 59);box-shadow:5px 5px 0 rgb(255, 235, 59);color:#fff;}
  .p4 p:after{border-right-color:rgb(255, 235, 59);border-left-color:transparent;}
  .p4R p:after{border-right-color:transparent;border-left-color:rgb(255, 235, 59);}
  .p4 span{background:rgb(255, 235, 59);color:#000;}
  .icon_p4_talk:before{content:'';background-image:url("./icon/erisu_icon_1.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p4_peace:before{content:'';background-image:url("./icon/erisu_icon_2.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p4_majime:before{content:'';background-image:url("./icon/erisu_icon_3.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p4_ase:before{content:'';background-image:url("./icon/erisu_icon_4.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p4_metoji:before{content:'';background-image:url("./icon/erisu_icon_5.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  .icon_p4_notalk:before{content:'';background-image:url("./icon/erisu_icon_6.png");background-size:contain;background-repeat:no-repeat;background-position:center center;width:90px;height:90px;}
  
/* スマホ用 */
@media only screen and (max-width: 768px) {
/* member */
/* 発言者：KP */
.kp p:after{border-right-color:#000;border-left-color:transparent;}
.icon_kp:before{width:70px;height:70px;}
/* 発言者：夜月 真夜 */
.p1 p:after{border-right-color:rgb(233,30,99);border-left-color:transparent;}
.icon_p1_talk:before{width:70px;height:70px;}
.icon_p1_notalk:before{width:70px;height:70px;}
.icon_p1_ase:before{width:70px;height:70px;}
.icon_p1_nohand_notalk:before{width:70px;height:70px;}
.icon_p1_nohand_talk:before{width:70px;height:70px;}
.icon_p1_nohand_metoji:before{width:70px;height:70px;}
.icon_p1_nohand_tere:before{width:70px;height:70px;}
.icon_p1_dark:before{width:70px;height:70px;}
.icon_p1_zekkyou:before{width:70px;height:70px;}
.icon_p1_zekkyou_metoji:before{width:70px;height:70px;}
.icon_p1_zekkyou_naku:before{width:70px;height:70px;}
/* 発言者：淵上 星嵐 */
.p2 p:after{border-right-color:rgb(179, 48, 255);border-left-color:transparent;}
.icon_p2_notalk:before{width:70px;height:70px;}
.icon_p2_smile:before{width:70px;height:70px;}
.icon_p2_oko:before{width:70px;height:70px;}
.icon_p2_metoji:before{width:70px;height:70px;}
.icon_p2_suneru:before{width:70px;height:70px;}
/* 発言者：彼方☆キャミィ */
.p3 p:after{border-right-color:rgb(18, 255, 58);border-left-color:transparent;}
.icon_p3_talk:before{width:70px;height:70px;}
.icon_p3_ase:before{width:70px;height:70px;}
.icon_p3_notalk:before{width:70px;height:70px;}
.icon_p3_oko:before{width:70px;height:70px;}
.icon_p3_shirakiru:before{width:70px;height:70px;}
.icon_p3_shock:before{width:70px;height:70px;}
.icon_p3_sleep:before{width:70px;height:70px;}
.icon_p3_metoji:before{width:70px;height:70px;}
  /* 発言者：獅堂 エリス */
.p4 p:after{border-right-color:rgb(255, 235, 59);border-left-color:transparent;}
.icon_p4_talk:before{width:70px;height:70px;}
.icon_p4_peace:before{width:70px;height:70px;}
.icon_p4_majime:before{width:70px;height:70px;}
.icon_p4_ase:before{width:70px;height:70px;}
.icon_p4_metoji:before{width:70px;height:70px;}
.icon_p4_notalk:before{width:70px;height:70px;}    
}

/* priority */
.log div{margin-top:2.5em;margin-bottom:2.5em;}
